<div class="container">
  <div class="row justify-content-center">
    <div class="intro">
      <%= image_tag("portfolio-logo.png") %>
      <h1>Marisa N. Cassidy</h1>
      <h2><s>Fullstack Developer, Project Manager</s></h2>
    </div>
    <div class="projects-card">
      <div>
        <h1>About</h1>
        <br>
        <%= image_tag("marisa.jpg", :class => "avatar-large") %>
        <br><br>
        <h3>
          I'm an American fullstack developer, project manager, and writer based in Tokyo since 2009.<br><br>
          <i class="fab fa-linkedin-in"></i><i class="fab fa-github"></i><i class="fab fa-wordpress-simple"></i>
        </h3>
      </div>
    </div>
    <div class="about-card">
      <div>
        <h1>Projects</h1>
        <br><br>
        <section class="xop-section">
          <div class="xop-wrapper">
            <div class="xop-container">
              <a class="project" href="#">
                <figure>
                  <%= image_tag("pantrytile.png") %>
                  <figcaption>
                    <div>
                      <h3>Pantry</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
              <a class="project" href="#">
                <figure>
                  <%= image_tag("sharecaretile.png") %>
                  <figcaption>
                    <div>
                      <h3>Share Care</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
              <a class="project" href="#">
                <figure>
                  <%= image_tag("portfolio-logo.png") %>
                  <figcaption>
                    <div>
                      <h3>Cocktails</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
              <a class="project" href="#">
                <figure>
                  <%= image_tag("portfolio-logo.png") %>
                  <figcaption>
                    <div>
                      <h3>IMHPJ</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
              <a class="project" href="#">
                <figure>
                  <%= image_tag("portfolio-logo.png") %>
                  <figcaption>
                    <div>
                      <h3>Kitchen Cart</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
              <a class="project" href="#">
                <figure>
                  <%= image_tag("portfolio-logo.png") %>
                  <figcaption>
                    <div>
                      <h3>KenKo</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
              <a class="project" href="#">
                <figure>
                  <%= image_tag("portfolio-logo.png") %>
                  <figcaption>
                    <div>
                      <h3>Icebreaker Randomizer</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
              <a class="project" href="#">
                <figure>
                  <%= image_tag("portfolio-logo.png") %>
                  <figcaption>
                    <div>
                      <h3>Code from Home - LINE Bot</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
              <a class="project" href="#">
                <figure>
                  <%= image_tag("portfolio-logo.png") %>
                  <figcaption>
                    <div>
                      <h3>Giphy Search</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
              <a class="project" href="#">
                <figure>
                  <%= image_tag("portfolio-logo.png") %>
                  <figcaption>
                    <div>
                      <h3>Icebreaker Randomizer Chrome Extension</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
              <a class="project" href="#">
                <figure>
                  <%= image_tag("portfolio-logo.png") %>
                  <figcaption>
                    <div>
                      <h3>Untitled NPO Project</h3>
                      <p class="cta">View project <i class="fas fa-chevron-right"></i></p>
                    </div>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="stack-card">
      <div>
        <h1>Tech Stack</h1>
        <br>
        <h2>Front End</h2>
        <p>HTML5, CSS3, JavaScript</p>
        <br>
        <h2>Back End</h2>
        <p>Ruby, Rails, React, PostgreSQL, Heroku, Netlify</p>
        <br>
        <h2>Other Tools</h2>
        <p>Git, GitHub, Figma, Sketch, WordPress</p>
      </div>
    </div>
    <div class="contact-card">
      <div>
        <h1>Contact</h1>
        <br>
        <h2>Let's work together.</h2>
        <br>
        <p>Insert form here</p>
      </div>
    </div>
  </div>
</div>
