<div class="container">
  <div class="row justify-content-center">
    <div class="intro">
      <%= image_tag("portfolio-logo.png", alt: "Fried egg-shaped logo") %>
      <h1>Marisa N. Cassidy</h1>
      <h2><s>Fullstack Developer &nbsp; Project Manager</s></h2>
    </div>
    <div class="about-card">
      <h1>About</h1>
      <br>
      <%= image_tag("marisa.jpg", class: "avatar-large", alt: "Marisa N. Cassidy") %>
      <br><br>
      <h3>
      I'm an American fullstack developer, project manager, and writer based in Tokyo since 2009.<br><br>
      <i class="fab fa-linkedin-in"></i> &nbsp; <i class="fab fa-github"></i> &nbsp; <i class="fab fa-wordpress-simple"></i>
      </h3>
    </div>
    <div class="projects-card">
      <h1>Projects</h1>
      <br><br>
      <div class="portfolio-container">
        <div class="portfolio-card">
          <% data.products.each do |product| %>
            <div class="portfolioImage">
              <%= image_tag(product.image) %>
              <div onClick="window.open(link_to(<% product.url %>), '_blank')" class="middle">
                <h2>View</h2>
              </div>
            </div>
              <div class="portfolioContent">
                <h2 class="portfolioTitle"><b><%= product.name %></b></h2>
                <h5 class="cardCategory"><%= product.role %></h5>
                <p><%= product.description %></p>
                <% product.tags.each do |tag| %>
                  <p class="tags"><%= tag %></p>
                <% end %>
              </div>
          <% end %>
          </div>
        </div>
    </div>
    <div class="stack-card">
      <h1>Tech Stack</h1>
      <br>
      <h2>Front End</h2>
      <h5 class="cardCategory">HTML5 &nbsp; CSS3 &nbsp; JavaScript &nbsp; React</h5>
      <br>
      <h2>Back End</h2>
      <h5 class="cardCategory">Ruby &nbsp; Rails &nbsp; PostgreSQL &nbsp; Heroku &nbsp; Netlify</h5>
      <br>
      <h2>Other Tools</h2>
      <h5 class="cardCategory">Git &nbsp; GitHub &nbsp; Figma &nbsp; Sketch &nbsp; WordPress</h5>
    </div>
    <div class="contact-card">
      <h1>Contact</h1>
      <br>
      <h2>Let's work together.</h2>
      <br>
      <form name="contact" netlify>
        <p><label>Name<br><input type="text" name="name" /></label></p>
        <p><label>Email<br><input type="email" name="email" /></label></p>
        <p><label>Message<br><textarea name="message"></textarea></label></p>
        <p><button type="submit">Submit</button></p>
      </form>
    </div>
  </div>
</div>
